@use './null.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
$main-color: #a71613;
$secondary-color: #192637;


body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1380px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    margin-top: 30px;

    &.expanded {
        margin-top: 60px;
    }
}

.primary-title {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    color: black;
}

.secondary-title {
    text-align: center;
    margin:0 auto;
    display: block;
    font-weight: 300;
}

.view-btn {
    border-radius: 50px;
    padding: 10px 20px;
    color: black;
    background: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;

    &:hover {
        transition: 0.3s all;
        background: $main-color;
        color: white;
    }
}

.header {
    width: 100%;
    background: $main-color;
    height: 40px;
    .menu {
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 1300px;
        margin: 0 auto;
        align-items: center;
        &__item {
            list-style-type: none;
            color: white;
            cursor: pointer;
            font-weight: 300;
            padding: 5px;
            
            &:not(:first-child) {
                margin-left: 35px;
            }

            &:hover, &.active {
                background: white;
                color: $main-color;
            }
        }
    }
}

.search {
    background: black;
    padding: 15px 0;
    &.wrapper {
        .container {
            display: flex;
            justify-content: space-between;
            color: white;
        }
        .button-wrapper {
            display: flex;
            .button {
                border-radius:  50px;
                background: $main-color;
                padding: 0 15px;
                color: white;
                max-width: 250px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        .search-bar {
            display: flex;
            align-items: center;
            flex: 0 0 60%;
            position: relative;
            input {
                width: 100%;
                height: 50px;
                border-radius: 50px;
                padding: 0 20px;
            }
            img {
                position: absolute;
                right: 30px;
                cursor: pointer;
            }
            
        }
        .cart {
            display: flex;
            flex: 0 0 15%;

            &-img {
                background: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                width: 50px;
            }

            &-info {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
            }

        }
    }
}

.popular-items {
    display: flex;
    flex-direction: column;

    .categories {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 15px;

        .card {
            &:hover {
                .btn {

                    transition: 0.3s all;
                    background: $main-color;
                    color: white;
                }
            }
            a {
                position: relative;

                .image {
                    max-width: 400px;
                    border-radius: 10px;
                }

                .name {
                    position: absolute;
                    top: 20px;
                    margin-left: 10px;
                    color: black;
                    font-weight: 800;
                    font-size: 20px;
                }

                .btn {
                    margin-left: 10px;
                    position: absolute;
                    bottom: 20px;
                    border-radius: 50px;
                    padding: 10px 20px;
                    color: black;
                    background: white;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 300;
                }
            }
        }
    }
}

.hits {
    margin-top: 60px;
    position: relative;
    
    .buttons-control {
        position: absolute;
        right: 80px;
        top: 25px;
        color: black;

        .swiper-button-prev {
            left: -15px;
            top: 20px;
            width: 10px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23black'%2F%3E%3C%2Fsvg%3E") !important;
        }
        
        .swiper-button-next {
            right: -50px;
            top: 20px;
            width: 10px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234black'%2F%3E%3C%2Fsvg%3E") !important;
        }
    }
    .card {
        max-width: 320px;
        padding: 20px;
        border: 1px solid transparent;
        border-radius: 15px;
        &:hover {
            transition: 0.3s all;
            border-color: $main-color;

            .hit-card__text {
                color: $main-color;
            }
        }
        
        .markers {
            display: flex;
            justify-content: flex-end;
            color: white;

            .discount {
                position: absolute;
                padding: 15px;
                border-radius: 50px;
                background: $main-color;
                top: 10px;
                right: 90px;
            }

            .hit {
                position: absolute;
                padding: 15px;
                margin-left: 15px;
                border-radius: 50px;
                background: green;
                right: 20px;
                top: 10px;
            }
        }
        .hit-card {
            &__img {
                text-decoration: none;
                img {
                    border-radius: 10px;
                }
            }
            &__content {
                .category {
                    text-align: left;
                    color: black;
                    font-weight: 300;
                    text-transform: none;
                }
            }
            &__text {
                display: flex;
                flex-direction: column;
                .text__title {
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-top: 10px;
                    text-align: left;
                }
                .btn {
                    max-width: 120px;
                    margin-top: 15px;
                    padding: 15px 10px;
                    border: 1px solid $main-color;
                    color: $main-color;
                    font-weight: 800;
                    font-size: 14px;

                    &:hover {
                        transition: 0.3s all;
                        background: $main-color;
                        color: white;
                    }
                }
                .price {
                    display: flex;
                    margin-top: 5px;
                    flex-direction: column;
                    color: $main-color;
                    font-size: 18px;
                    .old-price {
                        font-weight: 300;
                        text-decoration: line-through;
                    }
                    .new-price {
                        font-weight: 800;
                    }
                }
            }
        }
    }
}

.with-image {
    background: url(https://www.don-oboi.ru/images/preim.jpg);
    padding: 80px 0;
    .image-block {
        display: flex;
        justify-content: center;
        align-items: center;
        &__item {
            display: flex;
            align-items: center;
            flex: 0 0 350px;

            .item-image {
                width: 100%;
                max-width: 100px;
            }

            .item-text {
                color: white;
                display: flex;
                flex-direction: column;
                font-size: 12px;
                max-width: 250px;
                .text-title {
                    font-weight: 800;
                }

                .text-info {
                    font-weight: 300;
                }
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: center;

    &-wrapper {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .menu {
        display: flex;
        flex-direction: column;
        flex: 0 0 250px;

        .head {
            font-weight: 800;
            text-transform: uppercase;
        }

        &__item {
            font-size: 14px;
            &:not(:first-child) {
                margin-top: 10px;
            }
        }
        &__link {
            font-weight: 300;
            &:hover {
                transition: 0.3s all;
                color: $main-color;
            }
        }
    }
}